.search-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 75px;
  }
  
  .search-box .search-bar {
    width: 50%;
    padding: 15px;
  
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 0px 16px;
  
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
    color: #313131;
    font-size: 20px;
  
    transition: 0.4s ease;
    margin-right: 10px;
  }
  
  .search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .btn-send{
    cursor: pointer;
    color: #313131;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 0px 0px 16px 0px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
  }

  .btn-send:hover{
    background-color: rgb(184, 223, 184);
  }